
<p>
  Start editing to see some magic happen :)
  </p>
<label> Filter </label>
<input type ="text" [(ngModel)] = 'nameFilter'/>
  <table border = 1>
    
    <tr>
     <td>Name</td>
      <td>Age</td></tr>
    
  

    <tr *ngFor='let employee of employees | employeeFilter : nameFilter' >
      <td>{{employee.name | uppercase}}</td>
      <td>{{employee.age}}</td>
    </tr>
  </table>

<p> Event Binding = {{message}}</p>
 
  <p appHighlight>Mithunggg</p>
  <input type = "text"  [(ngModel)]="message"/>
  <ul><li *ngFor= "let a of numArray ">{{a}}</li></ul>
{{numArray | odd}}
  <ul><li *ngFor= "let a of emp">{{a.name}}</li></ul><p> Event Binding = {{message}}</p>
 
  <p appHighlight>Mithunggg</p>
  <input type = "text"  [(ngModel)]="message"/>
  <ul><li *ngFor= "let a of numArray ">{{a}}</li></ul>
{{numArray | odd}}
  <ul><li *ngFor= "let a of emp">{{a.name}}</li></ul>